@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
    display: grid;
    place-content: center;
    cursor: url("heart-cursor.png"), auto;
    height: 100vh;
    width: 100vw;
	overflow: hidden;
	background: url(resources/inyene\ and\ i.jpeg);
    background-size: contain;
    transition: opacity 0.6s;
    animation: fadeIn 3s ease-in;
}
body.nav-btn {
    animation: 2.0s forwards;
}
.flipbook {
    width: 1000px;
    height: 600px;
}

.flipbook .hard {
    background: white;
    background-size: 500px;
    width: 1000px;
    height: auto;
    color: black;
    font-weight: bold;
    border: none; 
}

.flipbook .hard small{
	font-style: italic;
	font-weight: lighter;
	opacity: 0.7;
	font-size: 14px;
}

.flipbook .page {
    background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.page img{
	width: 300px;
	object-fit: cover;
	margin: auto;
}

.flipbook .page small{
	font-size: 14px;
    margin-bottom: 10px;
}

.page {
  animation: fadeIn 0.8s
}




.page img:hover {
  transform: scale(1.05);
}

@keyframes reveal {
  from { opacity: 0; }
  to { opacity: 1; }
}

.nav-btn {
    display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 16px;
  background: #a3abd8;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
 .nav-btn:hover {
      transform: scale(1.05);
      box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    }
